apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: web-ing
spec:
  rules:
  - host: <%= ingress_host %>
    http:
      paths:
      - backend:
          serviceName: web
          servicePort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  ports:
  - name: http
    port: 80
    targetPort: http
  selector:
    app: phpinfo
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: web-deploy
spec:
  template:
    metadata:
      labels:
        app: phpinfo
    spec:
      containers:
        - name: php
          image: <%= image_tag %>
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80
          resources:
            requests:
              cpu: 100m
              memory: 50Mi
      imagePullSecrets:
        - name: gitlab-registry
---
apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: web-hpa
spec:
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 50
  minReplicas: 1
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: web-deploy
